<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>@ViewBag.Titulo</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/Content/materialize.min.css" type="text/css" rel="stylesheet" media="screen">
    <link href="~/Content/Site.css" type="text/css" rel="stylesheet" />

</head>
<body>
    @Html.Partial("_Menu")
    @Html.Partial("_Breadcrumb", (List<AdminMaterialize.Models.Breadcrumb>)ViewBag.Breadcrumbs)
    <main>
        @RenderBody()
    </main>

    <footer class="page-footer cyan">
        <div class="footer-copyright">
            <div class="container">
                © 2017 Todos os direitos reservados. Desenvolvido por Henrique Oliveira.
            </div>
        </div>
    </footer>

    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="~/Scripts/materialize.min.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    <script>
        (function ($) {
            $(function () {
                $('.button-collapse').sideNav();
            });
        })(jQuery);
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
